@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #0f0f0f, #1c1c1c);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 10px;
}

.LogoPrincipal {
  width: 220px;
  margin-bottom: 50px;
  border-radius: 50%;
}

main {
  background-color: #1e1e1e;
  padding: 25px;
  border-radius: 18px;
  width: 100%;
  max-width: 420px;
  box-shadow: 0 0 15px #00000070;
}

label {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
}

label b {
  color: #f7931a;
}

select,
input {
  width: 100%;
  margin-top: 6px;
  padding: 12px;
  background: #2b2b2b;
  border: 1px solid #444;
  border-radius: 8px;
  color: #fff;
  font-size: 15px;
  outline: none;
  transition: 0.2s;
}

select:hover,
input:hover {
  border-color: #f7931a;
}

.botao-de-conversao-principal {
  width: 100%;
  padding: 13px;
  border: none;
  border-radius: 10px;
  background-color: #f7931a;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 20px;
}

.botao-de-conversao-principal:hover {
  transform: scale(1.02);
  background: #edb46f;
}

.botao-de-conversao-principal:active {
  transform: scale(1.95);
  background: #c67c22;
}


section {
  background: #2b2b2b;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 0 10px #00000070;
}

.currency-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currency-box img {
  width: 55px;
  margin-bottom: 8px;
}

.moeda-em-real,
.moeda-em-dola {
  font-size: 15px;
  color: #f7931a;
  margin-bottom: 6px;
}

.valor-da-moeda-para-convercao,
.valor-da-moeda-ja-convertida {
  background: #1c1c1c;
  width: fit-content;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 17px;
  margin-bottom: 15px;
}

.arrow-img {
  width: 40px;
  margin: 20px auto;
  display: block;
  opacity: 0.8;
}

.moeda-img, .moeda-em-dola {
  transition: 0.3s ease-in-out;
  opacity: 1;
}

.fade {
  opacity: 0;
}

.moeda-img.fade, .moeda-em-dola.fade {
  opacity: 0;
}


.currency-box {
  animation: pulse 4s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.015); }
  100% { transform: scale(1); }
}

@media (max-width: 480px) {
  body {
    padding: 20px 5px;
  }

  main {
    padding: 20px;
  }
}



